---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url><loc>https://krzhv.pp.ua/</loc><changefreq>weekly</changefreq><priority>1.0</priority></url>
<url><loc>https://krzhv.pp.ua/statti/</loc><changefreq>weekly</changefreq><priority>0.8</priority></url>
<url><loc>https://krzhv.pp.ua/blog/</loc><changefreq>weekly</changefreq><priority>0.7</priority></url>
<url><loc>https://krzhv.pp.ua/vidguky/</loc><changefreq>monthly</changefreq><priority>0.6</priority></url>
{%- for post in collections.statti %}
<url><loc>https://krzhv.pp.ua{{ post.url }}</loc><lastmod>{{ post.data.date | isoDate }}</lastmod><changefreq>monthly</changefreq><priority>0.7</priority></url>
{%- endfor %}
{%- for post in collections.blog %}
<url><loc>https://krzhv.pp.ua{{ post.url }}</loc><lastmod>{{ post.data.date | isoDate }}</lastmod><changefreq>monthly</changefreq><priority>0.6</priority></url>
{%- endfor %}
</urlset>
